:root {
    --skyBlue: #00A2FF;
    --orangeShock: #FF5D00;
    --backgroundBlue: #e0edf7;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input {
    appearance: none;
    outline: none;
}

.grid {
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header-nav {
    grid-column: 2;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 4px;
}

.side-bar {
    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 40px;

    background-color: var(--skyBlue);
}

.main-content {
    background-color: var(--backgroundBlue);

    grid-column: 2;
    grid-row: 2 / span 2;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

ul, a {
    list-style: none;
    text-decoration: none;
}

/*side bar*/
.side-bar img {
    width: 24px;
    height: auto;
}

.side-bar h1 > img {
    width: 40px;
    height: auto;
}

li {
    font-size: 1.3rem;
}

.side-bar ul, li, h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    color: white;
}

.side-bar ul {
    flex-direction: column;
    align-items: flex-start;
}

.side-bar > ul, h1 {
    margin-left: 17px;
}

.side-bar h1 {
    margin-top: 15px;
    font-size: 1.6rem;
}

.filter-white {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(325deg) brightness(105%) contrast(108%);
}
/*side bar*/


/*header-nav*/
.header-nav ul, .header-nav li {
    color: rgb(0, 0, 0);
}

.header-nav img {
    width: 24px;
    height: auto;
}

.search-bar {
    display: flex;
    gap: 7px;
}

.search-links, .icon-msg-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 50px;
}

.header-nav .links-buttons {
    display: flex;
    gap: 15px;
}

.links {
    display: flex;

    gap: 15px;
}

.icon-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon-message img {
    width: 75px;
    height: auto;
}

.links-buttons li + li > img {
    width: 40px;
    height: auto;
}

input[type="search"]{
    border-radius: 15px;
    width: min(50vw, 700px);
    line-height: 1.5rem;
    border: none;
    background-color: var(--backgroundBlue);
    font-size: 1.1rem;
    padding: 0 10px;
}

input[type="search"]:focus {
    border:1px solid rgb(0, 0, 0);
}

.header-nav a{
    font-size: 1.05rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--skyBlue);
    width: 84px;
    padding: 7px;
    border-radius: 100px;
}
/*header-nav*/

/*main-content*/
.cards-projects{
    grid-row: span 2;
}

.cards-projects > h3 {
    margin: 15px 0 15px 30px;
    font-size: 1.5rem;
    font-weight: 400;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 20px;
}

.card {
    width: 90%;
    height: 165px;

    place-self: center;

    border-left: 8px solid var(--orangeShock);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding: 10px;

    background-color: white;
}   

.announcements, .trending {
    align-self: center;
}
/*main-content*/