:root {
    --skyBlue: #00A2FF;
    --orangeShock: #FF5D00;
    --backgroundBlue: #e0edf7;
    --grayPara: #757575f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

input {
    appearance: none;
    outline: none;
}

.grid {
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

.header-nav {

    padding-bottom: 4px;
    z-index: 1;

    background-color: white;
    box-shadow: #00000015 0 0 20px 2px;

    padding: 15px;
}

.side-bar {
    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 40px;

    background-color: var(--skyBlue);
    z-index: 1;
    padding: 0 80px 0 10px;
}

.main-content {
    background-color: var(--backgroundBlue);

    grid-column: 2;
    grid-row: 2 / span 2;

    display: grid;

    grid-template-columns: 1fr min-content; 
    grid-template-rows: min-content;
    grid-auto-rows: min-content;

    overflow: auto;
    padding: 30px;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

/*side bar*/
.side-bar img {
    width: 21.6px;
    height: auto;
}

.side-bar h1 > img {
    width: 30px;
    height: auto;
}

li {
    font-size: 1.16rem;
}

.side-bar ul, li, h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    color: white;
}

.side-bar ul {
    flex-direction: column;
    align-items: flex-start;
}

.side-bar > ul, h1 {
    margin-left: 17px;
}

.side-bar h1 {
    margin-top: 15px;
    font-size: 1.44rem;
}

.filter-white {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(325deg) brightness(105%) contrast(108%);
}
/*side bar*/


/*header-nav*/
.header-nav ul, .header-nav li {
    color: rgb(0, 0, 0);
}

.header-nav img {
    width: 21.6px;
    height: auto;
}

.search-bar {
    display: flex;
    gap: 7px;
}

.search-links, .icon-msg-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 50px;
}

.header-nav .links-buttons {
    display: flex;
    gap: 15px;
}

.links {
    display: flex;

    gap: 15px;
}

.icon-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon-message img {
    width: 67.5px;
    height: auto;
}

.links-buttons li + li > img {
    width: 36px;
    height: auto;
}

input[type="search"]{
    border-radius: 15px;
    width: min(50vw, 700px);
    line-height: 1.35rem;
    border: none;
    background-color: var(--backgroundBlue);
    font-size: 1rem;
    padding: 0 10px;
}

input[type="search"]:focus {
    border:1px solid rgb(0, 0, 0);
}

.header-nav a{
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--skyBlue);
    width: 75.6px;
    padding: 7px;
    border-radius: 100px;
}
/*header-nav*/

/*main-content*/
.cards-projects{
    grid-row: span 2;
}

.title {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

.trending > h3 {
    margin-top: 5px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
}

.card {
    width: 95%;
    height: 190px;

    place-self: center;

    border-left: 8px solid var(--orangeShock);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding: 9px;

    background-color: white;
}

.card h3 {
    font-size: 0.9rem;
}

p {
    font-size: 0.85rem;
    color: var(--grayPara);
}



.announcements, .trending {
    width: 243px;
    place-self: center;
    margin-left: 20px;
}

.announc-blocks, .profiles {
    background-color: white;
    padding: 13.5px;
    border-radius: 15px;
}

.profiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profiles img {
    height: 45px;
    margin-right: 10px;
}

.announc {
    padding: 5px;
}

.announc:nth-child(2) {
    border-top: 1px solid var(--grayPara);
    border-bottom: 1px solid var(--grayPara);
    margin: 10px 0 10px 0;
}
/*main-content*/